<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Functional JS</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
    <link href='style.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="site-container">
        <header class="site-header">
            <a href="/" class="header-logo fancy">( McCarthy's Pub )</a>
        </header>
        
        <h1 class="fancy">Beer List</h1>
        
         <div id="filters">
            <a href="#" class="btn btn-default btn-active" data-filter="all">All</a>
            <a href="#" class="btn btn-default" data-filter="domestic">Domestic</a>
            <a href="#" class="btn btn-default" data-filter="imports">Imports</a>
            <a href="#" class="btn btn-default" data-filter="ale">Ales</a>
            <a href="#" class="btn btn-default" data-filter="lager">Lagers</a>
            <a href="#" class="btn btn-default" data-filter="stout">Stouts</a>
        </div>
        
        <ul id="beerList"></ul>
        
        <script type="text/json" id="beerData">
        {
            "beers": [
                {"name": "Bitter Hop", "type": "ipa", "locale": "domestic", "abv": 7.9},
                {"name": "Dragonblood Black IPA", "type": "ipa", "locale": "domestic", "abv": 6.5},
                {"name": "Good Dog Lager", "type": "lager", "locale": "domestic", "abv": 4.8},
                {"name": "Good Dog Snowpants", "type": "stout", "locale": "domestic", "abv": 8.1},
                {"name": "Lake Erie 2x IPA", "type": "ipa", "locale": "domestic", "abv": 9.3},
                {"name": "Lake Erie Session", "type": "ale", "locale": "domestic", "abv": 4.2},
                {"name": "Samwell British Pale Ale", "type": "ale", "locale": "import", "abv": 6.5},
                {"name": "Samwell Oatmeal Stout", "type": "stout", "locale": "import", "abv": 5.5},
                {"name": "Samwell Winter Ale", "type": "ale", "locale": "import", "abv": 6.8},
                {"name": "Sparkwood Beer Five", "type": "lager", "locale": "domestic", "abv": 6.2},
                {"name": "Sparkwood Campfire Lager", "type": "lager", "locale": "domestic", "abv": 5.8},
                {"name": "Tartan Scottish Ale", "type": "ale", "locale": "import", "abv": 7.5} 
            ]
        }
        </script>
        
        <script type="text/template" id="tmpl-beer">
        <% _.forEach(beers, function (beer) { %>
        <li><%= beer.name %> <small>(<%= beer.abv %>%)</small></li>
        <% }); %>
        </script>
        
    </div>

    <script src="https://rawgit.com/lodash/lodash/3.0.1/lodash.min.js"></script>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="app.js"></script>

</body>
</html>