body {
  background: url("http://i.imgur.com/IDJdOFb.jpg") top left repeat;
  color: white;
}

a:link, a:hover, a:active, a:visited {
  color: #666;
  text-decoration: none;
}

.site-container {
  width: 95%;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

.fancy {
  font-family: 'Rye', Georga, display, serif;
}

.site-header {
  text-align: center;
  padding: 1em 0;
}

a.header-logo {
  color: red;
  font-size: 3.5em;
  text-decoration: none;
  text-align: center;
}

#filters {
  line-height: 2.7;
}

#filters a.btn-active {
  background-color: red;
  color: white;
  border-color: red;
}

#beerList {
  margin: 1em 0;
  padding-left: 0;
}

#beerList li {
  list-style: none;
  padding-left: 0;
  font-size: 2em;
  line-height: 1.5;
}

#beerList li small {
  font-size: 0.75em;
  color: #bbb;
}